VDEditor/Service References/VDService/VdService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vdws.mediapanther.com/VdService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" />
  <xs:import schemaLocation="http://vdws.mediapanther.com/VdService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Models" />
  <xs:element name="GetVehicleTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="GetVehicleTypesResult" nillable="true" type="q1:GetVehicleTypesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleManufacturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="GetVehicleManufacturersResult" nillable="true" type="q2:GetVehicleManufacturersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="GetVehicleManufacturerResult" nillable="true" type="q3:GetVehicleManufacturerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="GetVehicleModelResult" nillable="true" type="q4:GetVehicleModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleModelsByManufacturerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleModelsByManufacturerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="GetVehicleModelsByManufacturerIdResult" nillable="true" type="q5:GetVehicleModelsByManufacturerIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleModelsByManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Models" minOccurs="0" name="manufacturer" nillable="true" type="q6:VehicleManufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleModelsByManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="GetVehicleModelsByManufacturerResult" nillable="true" type="q7:GetVehicleModelsByManufacturerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Models" minOccurs="0" name="type" nillable="true" type="q8:VehicleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="UpdateVehicleTypeResult" nillable="true" type="q9:UpdateVehicleTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Models" minOccurs="0" name="manufacturer" nillable="true" type="q10:VehicleManufacturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="UpdateVehicleManufacturerResult" nillable="true" type="q11:UpdateVehicleManufacturerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Models" minOccurs="0" name="model" nillable="true" type="q12:VehicleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="UpdateVehicleModelResult" nillable="true" type="q13:UpdateVehicleModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Models" minOccurs="0" name="client" nillable="true" type="q14:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="UpdateClientResult" nillable="true" type="q15:UpdateClientResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="DeleteVehicleTypeResult" nillable="true" type="q16:DeleteVehicleTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="DeleteVehicleManufacturerResult" nillable="true" type="q17:DeleteVehicleTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="DeleteVehicleModelResult" nillable="true" type="q18:DeleteVehicleModelResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/VehicleDatabaseManager.Responses" minOccurs="0" name="DeleteClientResult" nillable="true" type="q19:DeleteClientResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>